################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/ticket/FileContentIndex/3ac80091-8b9a-4417-9252-ec3c46967b67.vsidx
